.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    padding: 2rem 9% 2rem;
}

.services-title {
    position: relative;
}

.services-title h1 {
    padding: 0 30px;
    font-size: 60px;
    font-weight: 600;
}

.services-title img {
    width: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.education .education-row {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;
}

.education-box {
    border-left: .2rem solid #ff00ff;
}

.education-box .education-content {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* border: 2px solid #ff00ff; */
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
    z-index: -1;
    overflow: hidden;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.content .year,
i {
    font-size: 1.2rem;
    /* color: skyblue; */
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}

.content h3 {
    font-size: 18px;
    padding-bottom: 5px;
}

.content p {
    font-size: 1.2rem;
    padding-top: .2rem;
    padding-bottom: .5rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 40px;
    left: -20px;
    width: 2rem;
    height: 2rem;
    /* border: 2px solid skyblue;
    background: #081b29; */
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    border-radius: 50%;
}

@media(max-width:768px) {

    /* .services{
        align-items: start;
        gap: 70px;
        margin: 20px 6%;
    } */
    .services-title h1 {
        padding: 0;
        font-size: 40px;
    }

    .services-title img {
        width: 100px;
        right: -40px;
    }

    .education {
        width: 100%;
        /* padding-bottom: 5rem; */
    }

    .education-column .title {
        font-size: 20px;
    }

    .education-content .content {
        font-size: 17px;
    }

    .education-content .content p {
        font-size: 17px;
    }

    .home-content {
        margin-left: 2rem;
    }

    .education .education-row {
        flex-wrap: wrap;
    }
}