.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
}

.logo {
    width: 140px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px;
}

.social-buttons {
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f2f2f2; */
    /* box-shadow: 0px 0px 15px #00000027; */
    /* padding: 15px 10px; */
    /* border-radius: 5em; */

}
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-buttons svg {
  transition: 0.3s;
  height: 30px;
}
.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}
.github {
  background-color: #333;
}
.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}
.instagram:hover svg {
  fill: #c13584;
}

.social-buttons:hover {
    transform: scale(1.05);
}


.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}


.nav-mob-close {
    display: none;
    cursor: pointer;
}

.nav-mob-open {
    display: none;
    cursor: pointer;
    width: 30px;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 6%;
    }

    .social-buttons {
    display: none;
  }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        right: 7%;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right .5s;
        right: -300px;
        padding-top: 100px;
    }

    .nav-menu li {
        font-size: 22px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
}