.footer {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-left img{
    width: 100px;
}

.footer-top-left p {
    font-size: 16px;
    max-width: 450px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.footer-bottom-right {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.social-buttons1 {
        padding: 5px 10px;
        border-radius: 50px;
        cursor: pointer;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .social-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 0 5px;
        background-color: #fff;
        box-shadow: 0px 0px 4px #00000027;
        transition: 0.3s;
    }

    .social-button:hover {
        background-color: #f2f2f2;
        box-shadow: 0px 0px 6px 3px #00000027;
    }

    .social-buttons1 svg {
        transition: 0.3s;
        height: 20px;
    }

    .github {
        background-color: #333;
    }

    .facebook {
        background-color: #3b5998;
    }

    .facebook svg {
        fill: #f2f2f2;
    }

    .facebook:hover svg {
        fill: #3b5998;
    }

    .github svg {
        width: 25px;
        height: 25px;
        fill: #f2f2f2;
    }

    .github:hover svg {
        fill: #333;
    }

    .linkedin {
        background-color: #0077b5;
    }

    .linkedin svg {
        fill: #f2f2f2;
    }

    .linkedin:hover svg {
        fill: #0077b5;
    }

    .instagram {
        background-color: #c13584;
    }

    .instagram svg {
        fill: #f2f2f2;
    }

    .instagram:hover svg {
        fill: #c13584;
    }

    .social-buttons1:hover {
        transform: scale(1.05);
    }

@media(max-width:768px) {
    .footer {
        margin: 50px 6%;
    }

    .footer-top {
        gap: 30px;
    }

    .footer-top-right {
        gap: 5px;
    }


    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
    }
    .footer-bottom-right {
        justify-content: space-between;
    }

}